.App {
  font-family: sans-serif;
  text-align: center;
}

.premium-price {
  margin-right: 0.25em;
  color: crimson;
  font-weight: bold;
}

.full-price-cross-out {
  margin-right: 0.25em;
  color: grey;
  text-decoration: line-through;
}


.columns-3 {
  width: 100%;
  display:flex;
}

.columns-3 > div {
  width: 100%;
  display:flex-item;
  border: 1px solid red;
}

.side {
  padding-top: 1em;
  flex: 1 5;
  min-width: 150px;
}

.middle {
  flex: 5 1;
  min-width: 900px;
}

.seat {
  margin: 0.125em;
  display: inline-block;
  text-align: center;
  font-size: 0.8rem;
  font-family: Consolas, Monaco, monospace;
  line-height: 2.5rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: lightgreen;
  border-radius: 50%;
}

.seat-sold-out {
  background-color: grey;
  cursor: not-allowed;
}

.text {
  margin: auto;
}


.stage {
  border: 1px solid darkslategrey;
  color: darkslategrey;
  height: 5em;
}

.zone-name {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}