.App {
  font-family: sans-serif;
  text-align: center;
}

.premium-price {
  margin-right: 0.25em;
  color: crimson;
  font-weight: bold;
}

.full-price-cross-out {
  margin-right: 0.25em;
  color: grey;
  text-decoration: line-through;
}

.columns-3 {
  width: 100%;
  display:flex;
}

.columns-3 > div {
  width: 100%;
  display:flex-item;
  border: 1px solid red;
}

.seat {
  display: inline-block;
  width: 2em;
  text-align: right;
}

.stage {
  border: 1px solid darkslategrey;
  color: darkslategrey;
  height: 5em;
}